<!DOCTYPE html>
<html>
	
	<head>
		<style>
			*		{ margin: 0; padding: 0; font-family: Helvetica, Trebuchet, Arial, sans-serif; font-size: 20px; }

			tr td 			{ padding: 12px 0; }

			tr td.top 		{ background: #3BAAFB; border-bottom: 2px solid #6725A1; }
			tr td.bottom 	{ background: #3BAAFB; border-top: 2px solid #6725A1; }

			p 				{ margin: 0 0 1em; line-height: 1.25em; }
		</style>
	</head>
	<body>
		<table width="760" cellspacing="0" cellpadding="0" >
	
			<tr>
				<td width="20" class="top" style="background: #3BAAFB;border-bottom: 2px solid #6725A1;"></td>
				<td height="80" class="top" style="background: #3BAAFB;border-bottom: 2px solid #6725A1;">
					<img src="http://bygmusic.com/_img/site/logo.png" alt="" width="200">
				</td>
				<td width="20" class="top" style="background: #3BAAFB;border-bottom: 2px solid #6725A1;"></td>
			</tr>

			<tr>
				<td></td>
				<td>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">We are BYGMUSIC. We heard you and we like your work.</p>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">We are a new company offering a platform for artists like you to make money through sponsorship.</p>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">We pay artists for supporting brands and spreading their message.</p>

					<h3 style="margin: 0;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;">WHO WE ARE</h3>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">BYGMUSIC is a new, exciting music company that bridges the gap between technology and old-school artist development and support. We are currently signing up the best artists in the country based on talent, fan reach and potential. Our goal is to provide artist support and growth while preserving the integrity of creative output and protecting all ownership for the artist. BYGMUSIC and its sponsors value all artists of vision - large or small, established or new, and have created a new channel of income for them.</p>

					<h3 style="margin: 0;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;">HOW THIS WORKS</h3>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Our platform pays artists for supporting brands and spreading their messaging. BYGMUSIC matches the artist with the perfect brand for a natural fit. This is a revolutionary concept that fills the need for artist support that was formerly provided by the recording industry.</p>

					<h3 style="margin: 0;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;">WHY THIS WORKS</h3>
					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Brands have embraced the digital and social world and collectively have huge resources to spend on spreading their messages and offers. Brands are actively searching for partners with digital reach and social media awareness. Artists like you are the influencers these brands are looking for. BYGMUSIC has created the platform for brands and artists of all sizes to come together for the benefit of both.</p>

					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Bottom Line:  We want artists to make money for all their hard work.</p>

					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Click the link below and we will get to work finding the right brand for you. You will be under no obligation until you decide to partner and start getting the support you need.</p>

					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Please follow this link to complete your registration: {site_url}/register/key/{key}</p>

					<p style="margin: 0 0 1em;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;line-height: 1.25em;">Thanks, <br style="margin: 0;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;">Krish Sharma <br style="margin: 0;padding: 0;font-family: Helvetica, Trebuchet, Arial, sans-serif;font-size: 20px;">Founder / CEO</p>
				</td>
				<td></td>
			</tr>

			<tr>
				<td colspan="3" height="30" class="bottom" style="background: #3BAAFB;border-top: 2px solid #6725A1;"></td>
			</tr>

		</table>
	</body>
</html>