/****************************************

Site		    basic template
Author		    monica christopher	

TOC
1. Global Styles
2. Header Styles
3. Nav Styles
4. Content Styles
5. Footer Styles

Colors

/***************************************/

/* 1. Global Styles */
*					{ font-size: 15px; }

h1, h2, h3, h4, h5, h6, p, a, th, td 	{ font-family: 'Muli', sans-serif; font-weight: 300; }


a:link, a:visited	{ font-size: inherit; font-weight: 400; }
a:hover				{  }

#wrap   			{ margin: 0 3vw; }

#head-wrap          {  }
#navi-wrap          {  }
#main-wrap          {  }
#foot-wrap          { padding: 40px 0 20px; }

i 					{ color: inherit; }

th 					{ text-align: left; font-weight: 400; }
td 					{ vertical-align: top; border: 1px solid #ccc; }

/* 1b. Utilities */
.underline 			{ text-decoration: underline; }


/* 2. Header Styles */
#head				{  }


/* 3. Nav Styles */
#navi               { padding: 1.5rem 0; }
#navi .button 		{ padding: 5px 10px; margin: 0 20px; }


/* 4. Content Styles */
#main               {  }

.sales 				{ margin-bottom: 2rem; }

#welcome-login form 		{ margin: 1rem 20%; }

#begin-register .button 	{ width: 10rem; margin: 0 1rem; }

.terms 				{  }
.terms h1, .terms h5, .terms h4 	{ text-align: center; }
.terms ol ol 		{ margin-top: 0.5em; list-style: upper-alpha; }
.terms ol li 		{ margin-bottom: .5em; }



/* 5. Footer Styles */
#foot 				{  }
#foot ul li			{ font-size: 0.75em; }





/*.err-wrap { display: none; }*/