/****************************************

Site		    basic template
Author		    monica christopher	

TOC
1. Global Styles
2. Header Styles
3. Nav Styles
4. Content Styles
5. Footer Styles

Colors
Pink : #E298D7
Blue : #3BAAFB
Purple : #841F7F
Black : #000
White : #fff

/***************************************/

/* 1. Global Styles */
*					{ font-size: 15px; }

h1, h2, h3, h4, h5, h6, p, a, th, td 	{ font-family: 'Muli', sans-serif; font-weight: 300; }


a:link, a:visited	{ font-size: inherit; font-weight: 400; color: #841F7F; }
a:hover				{  }

#wrap   			{  }

#head-wrap          {  }
#navi-wrap          { background: #3BAAFB; border-bottom: 2px solid #841F7F; }
#main-wrap          {  }
#foot-wrap          { padding: 20px 0; background: #3BAAFB; border-top: 2px solid #841F7F; }

i 					{ color: inherit; }

th 					{ text-align: left; font-weight: 400; }
td 					{ vertical-align: top; border: 1px solid #ccc; }

.button 			{ background-color: #3BAAFB; }

fieldset 			{ border: 1px solid #E298D7 !important; padding: 0.5rem 1rem; margin: 1rem 0; }
fieldset fieldset 	{ border: none !important; }
legend 				{ color: #841F7F; }

hr 					{ border: none; height: 0; border-top: 1px solid #E298D7; background: #fff; }


/* 1b. Utilities */
.underline 			{ text-decoration: underline; }


/* 2. Header Styles */
#head				{  }


/* 3. Nav Styles */
#navi               { padding: 10px 0; }
#navi .button 		{ padding: 5px 10px; margin: 0 20px; color: #fff; }
#navi a 			{ color: #fff; }
#navi a img 		{ width: 110px; }
#navi li.login 		{ margin-top: 15px; }

#navi .button 		{ border: 1px solid #fff; }


/* 4. Content Styles */
#main               { padding: 40px 0; min-height: 90vh; }

.home-video 		{ margin-top: 1rem; }

.button#register 	{ background: #E298D7; color: #fff; border: 1px solid #841F7F; font-size: 1.25rem; padding: 10px 15px; margin: 20px 0 40px; }

.sales 				{ margin-bottom: 2rem; }

#welcome-login form 		{ margin: 1rem 20%; }

#begin-register .button 	{ width: 10rem; margin: 0 1rem; }

#artist-details 	{ padding: 2rem 0; }

.terms 				{  }
.terms h1, .terms h5, .terms h4 	{ text-align: center; }
.terms ol ol 		{ margin-top: 0.5em; list-style: upper-alpha; }
.terms ol li 		{ margin-bottom: .5em; }



/* 5. Footer Styles */
#foot 				{ color: #841F7F; }
#foot ul li			{ font-size: 0.75em; }
#foot a 			{ color: #fff; }





/*.err-wrap { display: none; }*/