<script src="/_js//vendor/jquery.min.js"></script>
<script src="/_js/social.js"></script>

<?php
	include("_includes/SocialCounter.php");
	$sc = new SocialCounter();

	if(isset($_POST['action']) && function_exists($_POST['action'])) {
	
	    $action = $_POST['action'];
	    $var = isset($_POST['name']) ? $_POST['name'] : null;
	    
	    switch($action) {
	    case 'GetFacebookCount':
	    	return $sc.GetFacebookCount($var);
	    	break;
	    case 'GetTwitterCount':
	    	return $sc.GetTwitterCount($var);
	    	break;
	    case 'GetSoundcloudCount':
	    	return $sc.GetSoundcloudCount($var);
	        break;
	    default:
	        die('Access denied for this function!');
	}
    
    $getData = $action($var);
}	

?>

		<div id="main-wrap"><div id="main">

			<div class="row">
	        	<div class="columns twelve">
	                <h1>Edit Social</h1>
	            </div>
	        </div>

{exp:channel:entries channel="artists" dynamic="no" require_entry="yes" author_id="CURRENT_USER" limit="1"}

	{if no_results}

			<div class="row"><div class="columns twelve"><p>you have not started your profile yet. let's get started!</p></div></div>

		{exp:channel:form channel="artists" return="edit/social" class="userform"}
						<input type="hidden" name="status" id="status" value="open">
						<input type="hidden" name="title" id="title" value="{screen_name}">

						<div class="row">
							<fieldset class="fieldset">
								<legend>Profiles</legend>
									<input type="hidden" name="status" id="status" value="open">

									<div class="columns small-9">
										<label for="">Facebook Page Name
											<input type="text" name="artist_facebook" id="artist_facebook" value="{artist_facebook}">
										</label>
										
									</div>
									<div class="columns small-3">
										
									</div>

									<div class="columns small-9">
										<label for="">Twitter Handle
											<input type="text" name="artist_twitter" id="artist_twitter" value="{artist_twitter}">
										</label>
									</div>
									<div class="columns small-3">
										
									</div>

									<div class="columns small-9">
										<label for="">Instagram Handle
											<input type="text" name="artist_instagram" id="artist_instagram" value="{artist_instagram}">
										</label>
									</div>
									<div class="columns small-3">
										<label for="">Instagram Count
											<input type="text" name="artist_instagram_count" id="artist_instagram_count" value="{artist_instagram_count}">
										</label>
									</div>

									<div class="columns small-9">
										<label for="">Youtube Channel Name
											<input type="text" name="artist_youtube_name" id="artist_youtube_name" value="{artist_youtube_name}">
										</label>
									</div>
									<div class="columns small-3">
										
									</div>

									<div class="columns small-9">
										<label for="">Soundcloud Handle
											<input type="text" name="artist_soundcloud" id="artist_soundcloud" value="{artist_soundcloud}">
										</label>
									</div>
									<div class="columns small-3">
										
									</div>

							</fieldset>
						</div>

						<div class="row hide">{field:artist_other_media}</div>

						<div class="row">
							<button type="submit" class="button">Submit</button>
						</div>
						
		{/exp:channel:form}

	{/if}
    
	{exp:channel:form channel="artists" return="home/index" dynamic="no" url_title="{url_title}" class="userform"}
					<div class="row">
						<fieldset class="fieldset">
							<legend>Profiles</legend>
								<input type="hidden" name="status" id="status" value="open">

								<div class="columns small-9">
									<label for="">Facebook Page Name 
										<input type="text" name="artist_facebook" id="artist_facebook" value="{artist_facebook}">
									</label>
									<button type="button" class="button" id="artist_facebook_update">Update</button>
								</div>
								<div class="columns small-3">
									<label for="">Facebook Count 
										<input type="text" name="artist_facebook_count" id="artist_facebook_count" value="<?php echo $sc->GetFacebookCount({artist_facebook}); ?>" >
									</label>
								</div>

								<div class="columns small-9">
									<label for="">Twitter Handle
										<input type="text" name="artist_twitter" id="artist_twitter" value="{artist_twitter}">
									</label>
									<button type="button" class="button" id="artist_twitter_update">Update</button>
								</div>
								<div class="columns small-3">
									<label for="">Twitter Count 
										<input type="text" name="artist_twitter_count" id="artist_twitter_count" value="<?php echo $sc->GetTwitterCount({artist_twitter}); ?>" >
									</label>
								</div>

								<div class="columns small-9">
									<label for="">Instagram Handle
										<input type="text" name="artist_instagram" id="artist_instagram" value="{artist_instagram}">
									</label>
								</div>
								<div class="columns small-3">
									<label for="">Instagram Count
										<input type="text" name="artist_instagram_count" id="artist_instagram_count" value="{artist_instagram_count}">
									</label>
								</div>

								<div class="columns small-9">
									<label for="">Youtube Channel Name
										<input type="text" name="artist_youtube_name" id="artist_youtube_name" value="{artist_youtube_name}">
									</label>
								</div>
								
								<div class="columns small-3">
									<label for="">Youtube Count 
										<input type="text" name="artist_youtube_count" id="artist_youtube_count" value="{artist_youtube_count}">
									</label>
								</div>

								<div class="columns small-9">
									<label for="">Soundcloud Handle
										<input type="text" name="artist_soundcloud" id="artist_soundcloud" value="{artist_soundcloud}">
									</label>
									<button type="button" class="button" id="artist_soundcloud_update">Update</button>
								</div>
								<div class="columns small-3">
									<label for="">Soundcloud Count 
										<input type="text" name="artist_soundcloud_count" id="artist_soundcloud_count" value="<?php echo $sc->GetSoundcloudCount({artist_soundcloud}); ?>" >
									</label>
								</div>

						</fieldset>
					</div>

					<div class="row hide">{field:artist_other_media}</div>

					<div class="row">
						<button type="submit" class="button" id="button_submit">Submit</button>
					</div>
					
	{/exp:channel:form}

{/exp:channel:entries}

    	</div></div>