{global_open}

    {if group_title == 'Super Admin'} 
        {sales_nav}
    {if:elseif group_title == 'Sales'} 
        {sales_nav}
    {if:elseif group_title == 'Sponsors'}
        {sponsor_nav}
    {if:elseif group_title == 'Artists'}
        {artist_nav}
    {if:else}
        {basic_nav}
    {/if}

<link rel="stylesheet" href="/_css/home.css" />

    <div id="main-wrap" class="home"><div id="main">
        
        <div class="row">
        	<div class="columns small-12 medium-8 medium-offset-2">
             
                <div class="">
                    <h3>Are you an artist?</h3>
                    <h4>We can help you earn money.</h4>
                </div>

                <div class="flex-video widescreen home-video">
                    <iframe src="https://player.vimeo.com/video/165697971" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/165697971">BYGMUSIC Intro Video</a> from <a href="https://vimeo.com/user51950567">BYGMUSIC CO</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>

                <div class="">
                    <h4>Register here to learn more.</h4>

                    <a href="{path='/register'}" class="button" id="register">Register</a><br>
                    <a href="/sponsor">Are you a Sponsor?</a>
                </div>

            </div>
        </div>
        
    </div></div>

<script>
    
    $('.button#login').click(function() {
        $(this).toggleClass('hollow');
        $('.button#register').toggleClass('hollow');
        $('#welcome-login').toggleClass('hide');
    });

</script>

{global_close}