		<div id="main-wrap"><div id="main">

			<div class="row">
	        	<div class="columns twelve">
	                <h1>Edit Media</h1>
	            </div>
	        </div>

{exp:channel:entries channel="artists" dynamic="no" author_id="CURRENT_USER" limit="1"}

	{if no_results}

		<div class="row"><div class="columns twelve"><p>you have not started your profile yet. let's get started!</p></div></div>
		{exp:channel:form channel="artists" return="home/index" class="userform"}
					<input type="hidden" name="status" id="status" value="open">
					<input type="hidden" name="title" id="title" value="{screen_name}">

					<div class="row">
						<fieldset class="fieldset">
						<legend>Artist Media</legend>
							<input type="hidden" name="status" id="status" value="open">

							<div class="small-12 columns">
								{field:artist_other_media}
							</div>
					</fieldset>
					</div>

					<div class="row">
						<button type="submit" class="button">Submit</button>
					</div>
		{/exp:channel:form}
	
	{/if}

	{exp:channel:form channel="artists" return="home/index" dynamic="no" url_title="{url_title}" class="userform"}
	
				<div class="row">
					<fieldset class="fieldset">
						<legend>Artist Media</legend>
							<input type="hidden" name="status" id="status" value="open">

							<div class="small-12 columns">
								{field:artist_other_media}
							</div>
					</fieldset>
				</div>

				<div class="row">
					<button type="submit" class="button">Submit</button>
				</div>
					
	{/exp:channel:form}

{/exp:channel:entries}

    	</div></div>