<link href="{path=css/_ee_channel_form_css}" type="text/css" rel="stylesheet" media="screen">
    <div id="main-wrap"><div id="main">

        <div class="row">
        	<div class="columns twelve">
{exp:user:profile}
                <h1>Howdy {contact_name}.</h1>
                <h6>This is what your profile looks like to potential sponsors.</h6>
{/exp:user:profile}
            </div>
        </div>

{exp:user:profile dynamic="no"}
        <div class="row">
            <div class="columns small-12 medium-6">
        {exp:channel:entries channel="artists" dynamic="no" author_id="CURRENT_USER" limit="1"}
                {if no_results}
                    <p>you haven't uploaded a photo yet. <a href="/edit/photo">do it now!</a></p>
                {/if}
                <img src="{artist_bio_photo}" alt="">
        {/exp:channel:entries}
                <p><strong>Members :</strong> {artist_members}</p>
            </div>
            <div class="columns small-12 medium-6">
                <h2>{screen_name}</h2>
                {artist_bio}
            </div>
        </div>

        <div class="row">
            <div class="columns small-12 medium-3">
                <h4>Artist Details</h4>
                <ul>
                    <li>Genre : {artist_genre}</li>
                    <li>Reach : {artist_reach}</li>
                    <li>Fans : {artist_fans_gender} / {artist_fans_age}</li>
                </ul>
            </div>
        
            <div class="columns small-12 medium-3">
                <h4>Social / Followers</h4>
        {exp:channel:entries channel="artists" dynamic="no" author_id="CURRENT_USER" limit="1"}
                {if no_results}
                    <p>You have not posted any social links yet. <a href="/edit/social">do it now!</a></p>
                {/if}
                <ul>
                    {if url}<li><a href="{url}"><i class="fi-home"></i> {url}</a></li>{/if}
                    {if artist_facebook}<li><a href="{artist_facebook}" target="_blank"><i class="fi-social-facebook"></i> Facebook</a> / {artist_facebook_count}</li>{/if}
                    {if artist_twitter}<li><a href="{artist_twitter}" target="_blank"><i class="fi-social-twitter"></i> Twitter</a> / {artist_twitter_count}</li>{/if}
                    {if artist_instagram}<li><a href="{artist_instagram}" target="_blank"><i class="fi-social-instagram"></i> Instagram</a> / {artist_instagram_count}</li>{/if}
                    {if artist_youtube}<li><a href="{artist_youtube}" target="_blank"><i class="fi-social-youtube"></i> Youtube</a> / {artist_youtube_count}</li>{/if}
                    {if artist_soundcloud}<li><a href="{artist_soundcloud}" target="_blank"><i class="fi-sound"></i> Soundcloud</a> / {artist_soundcloud_count}</li>{/if}
                </ul>
        {/exp:channel:entries}
            </div>
            <div class="columns small-12 medium-3">
                <h4>Featured media</h4>
                <ul>
        {exp:channel:entries channel="artists" dynamic="no" author_id="CURRENT_USER" limit="1"}
                {if no_results}
                    <p>You have not posted any media yet. <a href="/edit/media">do it now!</a></p>
                {/if}
            {artist_other_media}
                    <li><a href="{artist_other_media:link_url}">{artist_other_media:link_title}</a></li>
            {/artist_other_media}
        {/exp:channel:entries}
                </ul>
            </div>
            <div class="columns small-12 medium-3">
                <h4>Influences</h4>
                {artist_influences}
            </div>
        </div>
{/exp:user:profile}
        
    </div></div>

    