		<div id="main-wrap"><div id="main">

			<!-- === REGISTER SPONSOR === -->
			<div action="" id="sponsor-register">
				<h1>Edit Photo</h1>

{exp:channel:entries channel="artists" dynamic="no" require_entry="yes" search:author_id="{member_id}" limit="1"}
    
	{exp:channel:form channel="artists" return="home/index" dynamic="no" url_title="{url_title}" class="userform"}
					<div class="row">
						<fieldset class="fieldset">
							<legend>Bio Photo</legend>
								<input type="hidden" name="status" id="status" value="open">

								<div class="small-12 medium-4 columns">
									<h4>Current bio photo</h4>
									<img src="{artist_bio_photo}" alt="">
								</div>
								<div class="small-12 medium-8 columns">
									<label>Replace photo
										<input type="file" placeholder="" name="artist_bio_photo" id="artist_bio_photo">
										<input type="hidden" name="artist_bio_photo_directory" value="6" /> <br><br>
									</label>
								</div>
						</fieldset>
					</div>

					<div class="row hidden">
						{field:artist_other_media}
					</div>

					<div class="row">
						<button type="submit" class="button">Submit</button>
					</div>
					
	{/exp:channel:form}

{/exp:channel:entries}

			</div>

    	</div></div>