    <div id="main-wrap"><div id="main">
        
        <div class="row"><div class="columns twelve">
        	<h1>Artist Profile</h1>
        </div></div>

		<!-- <div class="row"><div class="columns twelve sales text-center">
			<h5>Approve this artist?</h5>
			<input type="radio" name="approve" value="" id="yes" required><label for="yes">Yes</label>
			<input type="radio" name="approve" value="" id="no"><label for="no">No</label>
			<br>
			<div class="button">Submit</div>
		</div></div> -->

		<div class="row">
			<div class="columns small-12 medium-6">
				<img src="/profiles/darwenstheory/profile.jpg" alt="">
				<p><strong>Members :</strong> Mike Johnson / vox, JJ Paterak / lead guitar, John Shaw / rythm guitar, Tyler Rollins / bass guitar, [ need drummer ]</p>
			</div>
			<div class="columns small-12 medium-6">
				<h2>Darwen's Theory</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique, sollicitudin justo id, dictum dolor. Cras a ipsum placerat, tincidunt nunc et, efficitur ex. Ut tellus diam, sodales quis porttitor et, rutrum non turpis. Fusce eu eros neque. Aliquam erat volutpat. Etiam sed porta nunc, sed suscipit risus. Nam ac blandit est, at egestas quam. Vivamus neque elit, sollicitudin nec porttitor posuere, imperdiet id nibh. Ut pharetra consequat pretium. In non maximus felis, nec molestie nisl. Vestibulum vel purus at sapien vulputate vestibulum.</p>
				<p>Nunc aliquet diam ut enim blandit consectetur. Etiam turpis orci, blandit eu arcu at, lobortis ultrices purus. Pellentesque cursus tincidunt congue. Nam vitae finibus est. Donec auctor, turpis eget lobortis rutrum, felis libero molestie nisi, eu consectetur ante massa et turpis. In eu tempor arcu. Vestibulum velit mauris, hendrerit vitae nisl eget, malesuada ultricies nisl.</p>
			</div>
		</div>

		<div class="row">
			<div class="columns small-12 medium-3">
				<h4>Artist Details</h4>
				<ul>
					<li>Genre : Metal</li>
					<li>Reach : Local</li>
					<li>Fans : Female / 18 - 34</li>
				</ul>
			</div>
			<div class="columns small-12 medium-3">
				<h4>Social / Followers</h4>
				<ul>
					<li><a href=""><i class="fi-home"></i> http://darwenstheory.com</a></li>
					<li><a href="https://www.facebook.com/darwenstheory" target="_blank"><i class="fi-social-facebook"></i> Facebook</a> / 123456</li>
					<li><a href="https://www.facebook.com/darwenstheory" target="_blank"><i class="fi-social-twitter"></i> Twitter</a> / 123456</li>
					<li><a href="https://www.facebook.com/darwenstheory" target="_blank"><i class="fi-social-instagram"></i> Instagram</a> / 123456</li>
					<li><a href="https://www.facebook.com/darwenstheory" target="_blank"><i class="fi-social-youtube"></i> Youtube</a> / 123456</li>
					<li><a href="https://www.facebook.com/darwenstheory" target="_blank"><i class="fi-sound"></i> Soundcloud</a> / 123456</li>
				</ul>
			</div>
			<div class="columns small-12 medium-3">
				<h4>Featured media</h4>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=Dj_bme3RrEw" target="_blank">Live at Joint Bar 01.05.2014</a></li>
					<li><a href="https://www.youtube.com/watch?v=TDEXyEYaHwE" target="_blank">Cleanse ( Official Lyric Video )</li>
					<li><a href="https://www.youtube.com/watch?v=i4nfWNWFYuk" target="_blank">Rise with Demons ( Live at Ventura Theater 01.07.2011 )</a></li>
				</ul>
			</div>
			<div class="columns small-12 medium-3">
				<h4>Influences</h4>
				<ul>
					<li>Pantera</li>
					<li>Lamb of God</li>
				</ul>
			</div>
		</div>

		<hr>

		<div class="row sales">
			<div class="columns small-12 medium-3 medium-push-9">
				<h3>Contact</h3>
				<ul>
					<li>Name : John Shaw</li>
					<li>Email : <a href="mailto:name@email.com">name@email.com</a></li>
					<li>Phone : 555.867.5309</li>
				</ul>
			</div>

			<div class="columns small-12 medium-9 medium-pull-3">
				<h3>Notes</h3>
				<div class="input-group">
					<input class="input-group-field" type="text" placeholder="New note">
					<div class="input-group-button">
						<input type="submit" class="button" value="Submit">
					</div>
				</div>
				<table class="hover">
					<tr>
						<th>Note</th>
						<th width="150">Date / Author</th>
					</tr>
					<tr>
						<td>Donec volutpat volutpat scelerisque. Donec in pulvinar elit. </td>
						<td>
							01.27.2016 <br>
							Rory Bebbington
						</td>
					</tr>
					<tr>
						<td>Donec volutpat volutpat scelerisque. Donec in pulvinar elit. Proin consectetur fermentum purus ut luctus. Aenean quis venenatis sapien. Nullam id nibh iaculis, viverra diam et.</td>
						<td>
							01.26.2016 <br>
							Krish Sharma
						</td>
					</tr>
					<tr>
						<td>Donec volutpat volutpat scelerisque. Donec in pulvinar elit. Proin consectetur fermentum purus ut luctus. Aenean quis venenatis sapien. Nullam id nibh iaculis, viverra diam et, vestibulum odio. Suspendisse pretium aliquam urna, eu imperdiet justo dictum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec est nisl, tincidunt sed arcu varius, rutrum fermentum urna. Pellentesque rutrum congue diam, ac porta odio tristique vitae. Sed a turpis elementum, venenatis purus et, tempus nisl. Etiam eget fringilla libero.</td>
						<td>
							01.25.2016 <br>
							Monica Christopher
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="columns twelve"><a href="browse-artists.php" class="button tiny">Back to List</a></div>
		</div>
   
    </div></div>