		<div id="main-wrap"><div id="main">

			
        <div class="row">
        	<div class="columns twelve">
                <h1>Edit Bio Photo</h1>
            </div>
        </div>


{exp:channel:entries channel="artists" dynamic="no" require_entry="yes" author_id="CURRENT_USER" limit="1"}

	{if no_results}

		<div class="row"><div class="columns twelve"><p>you have not started your profile yet. let's get started!</p></div></div>
		
		{exp:channel:form channel="artists" return="home/index" class="userform"}
					<div class="row">
						<fieldset class="fieldset">
							<legend>Bio Photo</legend>
								<input type="hidden" name="status" id="status" value="open">
								<input type="hidden" name="title" id="title" value="{screen_name}">
								<input type="hidden" name="artist_name_for_search" id="artist_name_for_search" value="{screen_name}">

								<div class="small-12 columns">
									<label>Upload photo
										<input type="file" placeholder="" name="artist_bio_photo" id="artist_bio_photo">
										<input type="hidden" name="artist_bio_photo_directory" value="6" /> <br><br>
									</label>
								</div>
						</fieldset>
					</div>

					<div class="row">
						<button type="submit" class="button">Submit</button>
					</div>
		{/exp:channel:form}
	
	{/if}

		{exp:channel:form channel="artists" return="home/index" dynamic="no" url_title="{url_title}" class="userform"}
					<div class="row">
						<fieldset class="fieldset">
							<legend>Bio Photo</legend>
								<input type="hidden" name="status" id="status" value="open">

								<div class="small-12 medium-4 columns">
									<h4>Current bio photo</h4>
									<img src="{artist_bio_photo}" alt="">
								</div>
								<div class="small-12 medium-8 columns">
									<label>Replace photo
										<input type="file" placeholder="" name="artist_bio_photo" id="artist_bio_photo">
										<input type="hidden" name="artist_bio_photo_directory" value="6" /> <br><br>
									</label>
								</div>
						</fieldset>
					</div>

					<div class="row hide">{field:artist_other_media}</div>

					<div class="row">
						<button type="submit" class="button">Submit</button>
					</div>
		{/exp:channel:form}



{/exp:channel:entries}



    	</div></div>