    <div id="navi-wrap"><div id="navi">
        
		<div class="row">
			<div class="row columns twelve"><ul class="menu">
				<li><a href="/home"><img src="_img/site/logo.png" alt=""></a></li>
				<li><a href="/invite"><span>Invite</span></a></li>
				<li><a href="/browse/artists"><span>Browse Artists</span></a></li>
				<li><a href="/browse/sponsors"><span>Browse Sponsors</span></a></li>
				<!-- <li><a href="/invite">Invite User</a></li> -->
				<li>{exp:user:logout return="/"}<a href="{url}">Log Out</a>{/exp:user:logout}</li>
			</ul></div>
		</div>

    </div></div>