    <div id="main-wrap"><div id="main">
        
        <div class="row">
        	<div class="columns twelve">
{exp:user:profile}
                <h1>Howdy {contact_name}.</h1>
{/exp:user:profile}
            </div>
        </div>

        <div class="row">
                <div class="columns small-12 medium-6">
            
{exp:channel:entries channel="featured_artist" limit="1" orderby="entry_date" sort="desc"}
    
            {embed="functional/featured-artist" artist_name="{featured}"}
    
{/exp:channel:entries}

                </div>


            <div class="columns small-12 medium-6">
                <span class="float-right"><a href="/browse/artists">Browse all</a></span>
                <h5>Newest Artists</h5>
                <table class="hover">
                    <tr>
                        <th>Name</th>
                        <th width="100">Added</th>
                    </tr>
{exp:user:users group_id="8" limit="5" orderby="join_date" sort="desc"}
                    <tr>
                        <td><a href="/profile/artist/{member_id}">{screen_name}</a></td>
                        <td>{join_date format="%m.%d.%y"}</td>
                    </tr>
{/exp:user:users}
                </table>
            </div>
        </div>
        
    </div></div>